@{
    ViewData["Title"] = "Airsoft Profile";
}

<div class="text-center">
    <p>
        <a class="nav-link text-dark" asp-area="" asp-controller="Gun" asp-action="Index">Guns</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Gear" asp-action="Index">Gears</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Location" asp-action="Index">Locations</a>
    </p>
</div>
