@{
    ViewData["Title"] = "Airsoft Profile";    
}

<div class="text-left">
    <p>
        <img src="~/images/squad.png" height="300px" />
    </p>
    <h2>Update my Airsoft Information</h2>
    <br />
    <p>
        Add, Insert and Update all of your airsoft information.
    </p>
    <p>
        <h3>
            <a class="nav-link airsoftprofile" asp-area="" asp-controller="Gun" asp-action="Index">My Guns</a>
            <a class="nav-link airsoftprofile" asp-area="" asp-controller="Gear" asp-action="Index">My Gears</a>
            <a class="nav-link airsoftprofile" asp-area="" asp-controller="Location" asp-action="Index">My Locations</a>
        </h3>
    </p>
</div>